<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <title>Lucas Petherbridge - Fireworks</title>
    <meta name="author" content="Lucas Petherbridge">
    <meta name="description" content="Software Engineer. Designer. Thinker.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/p5"></script>
    <script src="/static/scripts/projects/fireworks.js"></script>
    <style>
        body {
            color: #fff;
            background: #000;
        }
    </style>
</head>
<body>
</body>
</html>
