<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <title>Lucas Petherbridge - Software Engineer Resume</title>
    <meta name="author" content="Lucas Petherbridge">
    <meta name="description" content="Software Engineer. Designer. Thinker.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <link rel=”canonical” href=”https://dev.lukeworks.tech/resume”>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles/resume.css">
    <script src="/static/scripts/resume.js"></script>
</head>
<body>
    <hr class="page-hr">
    <header role="banner">
        <section class="heading">
            <h1 id="name"></h1>
            <h2 id="position"></h2>
        </section>
        <p id="summary"></p>
    </header>
    <main class="clear">
        <aside class="side-bar">
            <section id="personal-info">
                <h3>Personal Info</h3>
                <h4>Address</h4><div id="addr1"></div><div id="addr2"></div>
                <h4>Phone</h4><div id="phone"></div>
                <h4>Email</h4><div id="email"></div>
                <h4>Website</h4><div id="website"></div>
            </section>
            <section id="soft-skills"><h3>Soft Skills</h3></section>
            <section id="hard-skills"><h3>Hard Skills</h3></section>
        </aside>
        <section class="main-content">
            <section id="work-experience">
                <img class="ribbon" src="/static/images/ribbon.png">
                <h3>Work Experience</h3>
            </section>
            <section id="education">
                <img class="ribbon" src="/static/images/ribbon.png">
                <h3>Education</h3>
            </section>
            <section id="projects">
                <img class="ribbon" src="/static/images/ribbon.png">
                <h3>Personal Projects</h3>
            </section>
        </section>
    </main>
</body>
</html>
