body {
    color: #fff;
    background: #000;
}
canvas {
    float: left;
    clear: both;
    margin: 0 0 20px 0;
}
#buttons {
    float:left;
    width: 50%;
}
#settings {
    float: right;
    width: 50%;
}
#setting_labels {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}
#setting_labels span {
    display: inline-block;
    padding-bottom: 2px;
};
#setting_inputs {
    margin: 0;
    padding: 0;
}
#legend {
    color: #0099FF;
    text-decoration: none;
    cursor: help;
}
#content {
    height: 7em;
    clear: both;
}
#error {
    color: red;
}
.clear {
    clear: both;
}
.help {
    cursor: help;
}
