{% extends "base" %}

{% block title %}Projects | LukeWorks{% endblock title %}
{% block meta_description %}A portfolio of current and past projects that I've worked on either as a fun side hobby or professionally.{% endblock meta_description %}

{% block main %}

{% for project in projects %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.content|safe|markdown }}</p>
{% endfor %}

{% endblock main %}
